body {
	font-family: 'PT Sans Narrow', sans-serif;
}

/* CSS Reset - reduce the inconsistency of the browser */ 
* {
	margin:  0;
	padding: 0;
	box-sizing: border-box;
}

.dev-name {
	font-size: 18px;
}

.dev-desc {
	font-size: 15px;
}

.profile-card {
	background-color: #1e2b3a !important;
}

.profile-about-me {
	background-color: #162331 !important;
	font-size: 14px;
}

.profile-about-me hr {
	color: #fff;
}

.progress {
	height: .75rem !important;
}

.w-95 {
	width: 95% !important;
}
.w-90 {
	width: 90% !important;
}
.w-85 {
	width: 85% !important;
}
.w-80 {
	width: 80% !important;
}
.w-70 {
	width: 70% !important;
}

.work-exp {
	background-color: #162331 !important;
}

#navbar-main {
	top: 0;
	z-index: 9;
}